
.item{
    background:white;
    width:50vh;
    height:60vh;
    margin:5x;
    display:grid;
    margin:10px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    border-radius:10px;
}

.item img{
    width:35vh;
    height:auto;
    background-position:center;
    background-size:cover;
}
.item h2{
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:15px;
}
.item p{
    text-align:center;
    font-weight:bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item .btn{
    align-items:center;
    height:auto;
    margin:10px;
    border:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline:none;
    background:rgb(214, 47, 47);
    padding:10px;
    color:white;
    border-radius:10px;
    cursor:pointer;
}
.item .btn:hover{
background:white;
color:rgb(214, 47, 47);
border:1px solid rgb(214, 47, 47);
}


@media screen and (max-width:720px){
.item{
    background:white;
    width:200px;;
    padding:20px;
    height:auto;

}
.item img{
width:20vh;
height:20vh;
}
.item h2{
    font-size:10px;
    text-align:center;
}
.item p{
font-size:10px;
text-align:center;
}

.item .btn{
    width:auto;
}
}
@media screen and (max-width:480px){
    .item{
        width:100%;
        height:auto;
    }
}
























